.about-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12%;
  color: #fff;

  background-color: rgba(94, 3, 180, 0.911);
  backdrop-filter: blur(15px);

  .about-section-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .about-section-item:first-child {
      font-size: 2.8rem !important;

      @media screen and (max-width: 540px) {
        font-size: 1.8rem !important;
      }
    }

    .about-section-item {
      font-size: 2.4rem;
      @media screen and (max-width: 540px) {
        font-size: 1.4rem;
      }
    }
  }

  .about-section-btn {
    font-size: 1.6rem;
    display: flex;
    gap: 2rem;
    transition: all 0.3s;

    &:hover {
      gap: 4rem;
    }
  }
}
