.projects-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
  padding: 170px 40px 0;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}
