.projects-section-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 7rem;
  padding: 1px 4rem 17rem 0;

  .section-title {
    text-align: center;
    color: #1d1d1d;
    font-size: 6rem;
  }
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
}
