// #3c096c, #7b2cbf,#9d4edd, #9683ec, #cea7ee, #ff6d00, #ff8500,#ff9e00, #ffcf70

@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  color: #7b2cbf;
  padding: 2rem;
  padding-bottom: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background: url("../public//images/crystal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  padding: 1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.205);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gotop-btn {
  background-color: #9a2ff8;
  border: 3px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  z-index: 99;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    animation: none;
    background: #fff;
    color: #9a2ff8;
    border: 3px solid #9a2ff8;
  }
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  // 50% {
  //   transform: translateY(0px);
  // }
  // 75% {
  //   transform: translateY(-20px);
  // }
  // 100% {
  //   transform: translateY(0px);
  // }
}

.section-title {
  font-size: 6rem;
  font-weight: normal;
  letter-spacing: 1.6rem;
  color: #3c096c;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1.6rem 15rem;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
  background-color: #20bf6b;
}
.alert--error {
  background-color: #eb4d4b;
}
.alert--waiting {
  background-color: #ffcf70;
}
